@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
    @{
        var content = (Umbraco11.Course.Core.Models.Umbraco.UmbBlockGridDemoImageBlock)Model.Content;

        var settings = (Umbraco11.Course.Core.Models.Umbraco.RichTextSettings)Model.Settings;

    }


    <div class="container-image" ></div>
        <img src="@content.Image.Url()" alt="@content.AlternativeText">
    </div>